{% extends 'base.html' %} {% block body %}

<!-- to be filled by the Python script -->
<h1 style="text-align: center; padding-bottom: 0.6rem;">{{ the_title }}</h1>
<h1>{{data}}</h1>

<!-- note how items from the "static" folder are linked -->
<img style="padding-bottom: 2rem" alt="Shadow" src="{{ url_for('static', filename='images/7factor.png') }}">

<div style="border: thin solid black; padding-top: 3rem">
    <h2 style="text-align: center; padding-top: 0.6rem;">Input Test Case VM's and Image's</h2>
    <div>
        <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
            <input type="file" id="virtualMachines" name="virtualMachines">
            <input type="submit" value="VM Upload">
        </form>
        <br>
        <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
            <input type="file" id="images" name="images">
            <input type="submit" value="Image Upload">
        </form>
    </div>
    <br>
    <div style="text-align: center; padding-bottom: 1rem;">
        <h3 style="text-align: center; padding-top: 0.0rem;"><u>CSV files for Test</u></h3>
        <a href="{{ url_for('static', filename='csv/virtualMachines.csv') }} ">virtualMachines CSV</a>
        <br>
        <a href="{{ url_for('static', filename='csv/images.csv') }} ">Images CSV</a> {% endblock %}
    </div>
</div>

<div>
    <h3>Graphs Below</h3>
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<br>



</div>